<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Whiteboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
<h1>Weather</h1>
<ul>
{% for f in forecasts %}
<li>{{ f.day_of_week }}: High {{ f.high }}&#176;, Low {{ f.low }}&#176;</li>
{% endfor %}
</ul>
    </body>
</html>
